*{
  margin: 1;
  padding: 1;
  background-origin: border-box;
}

.flex{
  display: flex;
  justify-content: space-evenly;
}

.box{
 padding: 1em;
 margin: 1em;
 min-width: 150px;
 border-radius: 8px;
 font-style: bold;
 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box.positif{
  border: 2px solid #000000;
  background: #1386ce;
}

.box.rawat{
  border: 2px solid #000000;
  background: #dfe95c;
}

.box.sembuh{
  border: 2px solid #000000;
  background: #65ec9e;
}
.box.mati{
  border: 2px solid #000000;
  background: #f33c3c;
}


.return{
  background-color: rgb(114, 240, 141);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

button{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}